	@charset "UTF-8";
/*font-family: 'Verdana','ヒラギノ角ゴシック','Hiragino Sans',YuGothic,'Yu Gothic',sans-serif;*/ 
	body { font-size: 16px; margin:0; padding: 1rem; background:#ffffff; width: 100%; max-width: 600px; user-select: none; }
	.table-container { padding:1rem; }
	table { border-collapse:collapse; width: 100%; overflow-x: auto; -webkit-overflow-scrolling: touch; }
	th, td { border:1px solid #ccc; padding-left:0.3rem; padding-right:0.3rem; text-align:center; vertical-align:middle; white-space: nowrap;}
	thead { background:#eee; }
	input { font-size: 20px; width: 2.5em; text-align: right; border-color: red; background-color:rgba(255, 255, 0, 0.2); font-family: 'Arial','ヒラギノ角ゴシック','Hiragino Sans',YuGothic,'Yu Gothic',sans-serif; }
	input:focus { border-color: #3182ce; outline: none; }
	.feed-total{border: 0px; background:#ffffff; }
	.sum{border: 0px; background:#ffffff; }
	.past-text{ font-size: 12px; font-style: normal;}
	select { font-size: 20px; border-color: red; background-color:rgba(255, 255, 0, 0.2); }
	.bar-container {width: 100%; height: 24px; background: silver; border-radius: 14px; overflow: hidden; display:inline-block; position: relative; }
	.bar-fill { height:100%; width:0%; border-radius: 2px; transition: width 0.25s ease; }
	.bar-container .bar-label{position: absolute; line-height: 1; color: #fff; font-size: 15px; right: 4px; }
	button{ background: darkgrey; color: #000; width: 20%; }
	button:hover{ background: #fff; color: #000; cursor: pointer; }
	#result th:nth-child(1), #result td:nth-child(1) { width: 100px; }
	#result th:nth-child(2), #result td:nth-child(2) { width: auto; }
	a{ color: blue; }
	a:visited{ color: blue; }
	a:hover{ color: red; }
